
        .head{
            margin: 0px 0px 30px 0px;
            padding: 5px 0px;
            height: 100px;
            background-image: url(bg1.jpg);
            font-size: 156 px;
            color: rgb(6, 21, 65);
            font-family: cursive;
            text-align: center;
        }
        body{
           
            background-size: cover;
            background-color: rgb(222, 236, 28);
        }
        th{
            text-align: center; 
            background-color: rgb(222, 236, 28);
            background-size: cover;
            font-size: 100 px;
        }
        table{
            margin: 30px;
            padding: 10px;
            background-image: url(bg1.jpg);
            font-size: 30px;
            
            font-weight: 700;

            border-radius: 9px 9px 0px 0px;
            color: rgb(6, 21, 65);
            width: 454px;
            height: 554px;
            background-color: blue;
        }

    